body {
  background-color: #c1bfc8;
  color: #7e7881;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

h2 {
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

a {
  color: #f5f4f4;
}

a:hover,
a:focus {
  color: #ebe7e7;
}

code,
pre {
  color: #333;
}

dt {
  color: #444;
}

th {
  color: #444;
}

.downloads a {
  color: #676767;
}

.downloads a:hover,
.downloads a:focus {
  color: #675c5c;
}

.downloads ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
}

.downloads a strong {
  color: #222;
}

@media print, screen and (max-width: 960px) {
  section {
    border: 1px solid #b8a19c;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}

@media print {
  body {
    color: #444;
  }
}
